pkgbase = stylus
	pkgdesc = Stylus is a revolutionary new language, providing an efficient, dynamic, and expressive way to generate CSS. Supporting both an indented syntax and regular CSS style.
	pkgver = 0.57.0
	pkgrel = 1
	url = https://stylus-lang.com/
	arch = any
	license = MIT
	makedepends = jq
	makedepends = npm
	depends = nodejs
	noextract = stylus-0.57.0.tgz
	source = https://registry.npmjs.org/stylus/-/stylus-0.57.0.tgz
	sha512sums = c8e23a1bc5987ebd2af2ff2b46f13dd706f1154fab24fa3beb455ae0c17a2b423a0598cee2bfb14b29e4bf23c13fdb55d4220451e46c8a276322cdabcdbd429d

pkgname = stylus
